* {
  padding: 0%;
  margin: 0%;
}

#all{   
  background-color: #140014;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #150015;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  color: white;
}

#logo {
  margin-left: 200px;
  width: 150px;
  height: 130px;
}

h2{
  font-size: 1.5em;
}

#logo-whats{
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 200px;
  margin-left: 20px;
  margin-bottom: 5px;
}

/* ABAIXO DA LINHA BRANCA DO HEADER/CABEÇALHO */

#linha1 {
  margin: 0;
  padding: 0;
  height: 5px;
  background-color: white;
}

.xaxa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;   
  width: 100vw;
}

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7fffd4;
  height: 550px;
  width: 350px;
  border: 2px solid #264143;
  border-radius: 15px;
  box-shadow: 5px 6px 0px 3px #ff00d0;
  gap: 10px;
}

#form_group-busca{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
  gap: 20px;
}

#form_group-busca2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;
}

input{
  border-radius: 10px;
  width: 200px;
  height: 35px;
  padding: 5px;
  border: 2px solid #264143;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

#b1 {
  cursor: pointer;
  border: 0;
  color: #140014;
  padding: 18px 32px;
  border-radius: 15px;
  border: 2px solid #264143;
  box-shadow: 5px 6px 0px 3px #ff00d0;
  transition: .3s;
}

#b1:active {
  transform: translateY(5px);
  border: 2px solid #264143;
  box-shadow: 2px 4px 0px 1px #ff00d0;
}

#b1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

div .form_group #b1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100px;
  height: 20px;
  color: #140014;
}


.carousel-container {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 80px;
  width: 800px;
  height: 500px;
}

/* Estilo para as imagens */
.slide img {
  width: 700px;
  height: 450px;
}

