* {
  padding: 0%;
  margin: 0%;
}
#body {
  background-color: #140014;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 130px;
  background-color: #140014;
  padding-right: 125px;
  color: white;
}

#logo {
  margin-left: 125px;
  width: 120px;
  height: 100px;
}
.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}

/* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s; */

#logo-whats {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.card2 {
  width: 220px;
  height: 30px;
  background-color: #08483c;
  border-radius: 15px;
  transition: all 0.2s;
}
.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0px 0px 50px 10px rgba(0, 255, 117, 0.3);
}

.botao {
  margin-top: 10px;
}

/* ABAIXO DA LINHA BRANCA DO HEADER/CABEÇALHO */

#linha1 {
  height: 5px;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  background-color: #140014;
  margin-top: 50px;
}
.formulario {
  margin-left: 30px;
  margin-top: 20px;
}
.form_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  background-color: #00a9af;
  padding-top: 20px;
  height: 500px;
  width: 300px;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #00ff6a;
  gap: 10px;
}

.title {
  color: #000000;
  font-weight: 900;
  font-size: 1.5em;
  align-items: center;
  justify-content: baseline;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
  color: #000000;
}

search-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #ffffff;
  margin: 20px;
}
input {
  background-color: #000000;

  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #00ff6a;
  width: 250px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  gap: 20px;
}
::placeholder {
  color: #00ff6a;
}
.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #00ff6a;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  color: #ffffff;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000000;
}

.pane {
  outline: 2px solid #00ff6a;
}
button {
  --glow-color: rgb(0, 0, 0);
  --glow-spread-color: #00ff6a;
  --enhanced-glow-color: rgb(44, 3, 83);
  --btn-color: #00ff6a;
  border: 0.25em solid var(--glow-color);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 1em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}
button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}
.buttons {
  text-decoration: none;
}
#queda {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}
#b1 {
  margin-left: 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.log {
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 100px;
  background-color: #140014;
}

/* Estilo para as imagens */
.slide {
  width: 900px;
  height: 480px;
  padding-left: 40px;
  justify-content: center;
}
