*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}